.body {
    margin: 0;
}

* {
    box-sizing: border-box;
}


.hide {
    display: none;
}

.correct {
    background-color: greenyellow;
}

.wrong {
    background-color: red;
}

h1 {
    font-size: 25px;
}

