* {
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
    margin: 0px;
}

.home-container {
    background-color: #a9ccfd;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.image-game {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

.instruction-container {
    background-color: #a9ccfd;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100vw;
    height: 100vh;
}

.losergame-container {
    background-color: #a9ccfd;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100vw;
    height: 100vh;
}

.losergame-container h1 {
   padding: 30px 0 0 0;
}

.winner-container {
    background-color: #a9ccfd;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100vw;
    height: 100vh;
}

.winner-container h1 {
   padding: 30px;
}

/*images*/
.home-container img {
    width: 83%;
    border-radius: 20px;
    margin: 0 0 5px 0;
    box-shadow: 2px 2px 9px #555;
}

/*title*/
h1 {
    font-size: 23px;
    font-family: 'Titan One', cursive;
    font-weight: 500;
    margin: 40px 0 20px 0;
    text-align: center;
    text-shadow: 2px 2px 8px rgb(214, 214, 214);
}

/*header*/
.points {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    padding: 10px;
    margin: 40px 0 20px 0;
    color: rgb(32, 1, 54);
}

.points i {
    color:rgb(104, 42, 148)
}


/*buttons*/
.play-btn, .reset-btn {
    padding: 15px 50px; 
    background-color: #FFAA2F;
    border: none;
    border-radius: 15px;
    box-shadow: inset 0 0 1em #cf851e, 0 0 1em grey;
    box-shadow: 2px 2px 9px #555;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    letter-spacing: 1px;
    margin: 20px 0 0 0;
}

.audio-btn {
    padding: 15px 50px;
    background-color: #ffef94;
    border: none;
    margin: 20px 0 0 0;
    border-radius: 15px;
    box-shadow: inset 0 0 1em #dfd186, 0 0 1em grey;
    box-shadow: 2px 2px 9px #555;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    letter-spacing: 1px;
}

.instruction-btn {
    padding: 15px 50px;
    background-color: #d494ff;
    border: none;
    margin: 20px 0 0 0;
    border-radius: 15px;
    box-shadow: inset 0 0 1em #cb8bf6, 0 0 1em grey;
    box-shadow: 2px 2px 9px #555;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    letter-spacing: 1px;
}

.next-btn{
    padding: 15px 50px;
    background-color: #d494ff;
    border: none;
    border-radius: 15px;
    box-shadow: inset 0 0 1em #cb8bf6, 0 0 1em grey;
    margin: 30px 0 0 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    letter-spacing: 1px;
}

.answer-buttons {
    display: flex;
    flex-direction: column;
}

.btn {
    margin-top: 20px;
    padding: 10px;
    font-size: 14px;
    text-align: left;
    background-color: #FFF3B6;
    border: none;
    border-radius: 15px;
    box-shadow: inset 0 0 1em #fadd4d, 0 0 1em grey;
}

.container {
    margin: 10px 30px;
}
/*instructions*/

ul {
    display: block;
    list-style-type: none;
    margin: 0;
    padding: 0 25px;
}

ul li {
    padding: 5px;
}

ul li .fa-clock, .fa-heart {
    color: rgb(104, 42, 148);
}


/*questions*/
.text-question {
    font-size: 20px;
    padding-bottom: 5px;
    margin: 0 0 10px 0;
    font-weight: 500;
}

/*answers*/
.hide {
    display: none;
}

.correct {
    background-color: greenyellow;
    border: none;
    border-radius: 15px;
    box-shadow: inset 0 0 1em rgb(117, 204, 35), 0 0 1em grey;
}

.wrong {
    background-color: rgb(253, 79, 79);
    border: none;
    border-radius: 15px;
    box-shadow: inset 0 0 1em rgb(134, 37, 37), 0 0 1em grey;
}


/*progress bar*/
.progress-bar {
    background-color: #D391FF;
    width: 99px;
    height: 19px;
    position: absolute;
    top: 0;
    width: 100%;
    border: black
}

.progress-bar-border {
    border: 2px solid red;
    width: 100px;
    height: 20px;
    position: absolute;
    top: 0;
    width: 100%;
    border: black
}

/*media query*/
@media screen and (min-width: 600px) {

}
